@import 'src/variables';

.btn {
  border-radius: $buttons-br;
  padding: 0 20px 0 20px;

  &:disabled {
    background-color: $disabled-btn;
    border-color: $disabled-btn;
  }

  &--accent {
    background-color: $accent-btn;
    border: $buttons-border solid $accent-btn;

    &:hover {
      background-color: $accent-btn-hovered;
      border-color: $accent-btn-hovered;
    }

    &:focus {
      background-color: $accent-btn;
      border-color: $accent-btn-border;
    }
  }

  &--standard {
    background-color: $standard-btn;
    border: $buttons-border solid $standard-btn;

    &:hover {
      background-color: $standard-btn-hovered;
      border-color: $standard-btn-hovered;
    }

    &:focus {
      background-color: $standard-btn;
      border-color: $standard-btn-border;
    }
  }
}
