@import 'src/variables';

.accentBtn {
  border-radius: $buttons-br;
  background-color: $accent-btn;
  padding: 0 20px 0 20px;
}

.accentBtn:hover {
  background-color: $accent-btn-hovered;
}

.accentBtn:focus {
  border: $buttons-border solid $accent-btn-border;
}

.accentBtn:disabled {
  background-color: $disabled-btn;
}

.standardBtn {
  border-radius: $buttons-br;
  background-color: $standard-btn;
  padding: 0 20px 0 20px;
}

.standardBtn:hover {
  background-color: $standard-btn-hovered;
}

.standardBtn:focus {
  border: $buttons-border solid $standard-btn-border;
}

.standardBtn:disabled {
  background-color: $disabled-btn;
}