@import 'src/variables';

.pageHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px $mobile-block-padding 12px $mobile-block-padding;
}

.repoName {
  font-size: $main-header-mobile-fs;
}

.btnsContainer {
  display: flex;
  height: 28px;
}

.settingsBtn {
  padding: 8px;
  border-radius: $buttons-br;
  align-self: center;
}

.settingsBtn:hover {
  background-color: $standard-btn-hovered;
}

.settingsBtn:focus {
  padding: 6px;
  border: $buttons-border solid $standard-btn-border;
}

.btnIcon {}

.btnLink {
  display: block;
  height: 12px;
}

.runBuildBtn {
  padding: 5px 9px 5px 10px;
  margin-right: 8px;
  border-radius: $buttons-br;
}

.runBuildBtn:hover {
  background-color: $standard-btn-hovered;
}

.runBuildBtn:focus {
  padding: 7px 7px 7px 8px;
  border: $buttons-border solid $standard-btn-border;
}

.runBtnIcon {
  display: block;
}

.runBtnText {
  display: none;
}

@media (min-width: $min-desktop-width) {
  .pageHeader {
    padding: 10px $desktop-block-padding 10px $desktop-block-padding;
  }

  .repoName {
    font-size: $main-header-desktop-fs;
    line-height: 28px;
  }

  .runBuildBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .runBtnText {
    display: block;
  }

  .runBtnIcon {
    margin-right: 6px;
  }
}