@import 'src/variables';

.pageHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px $mobile-block-padding 12px $mobile-block-padding;

  @media (min-width: $min-desktop-width) {
    & {
      padding: 10px $desktop-block-padding 10px $desktop-block-padding;
    }
  }
}

.repoName {
  font-size: $main-header-mobile-fs;

  @media (min-width: $min-desktop-width) {
    & {
      font-size: $main-header-desktop-fs;
      line-height: 28px;
    }
  }
}

.btnsContainer {
  display: flex;
  height: 28px;
}

.settingsBtn {
  padding: 8px;
  border-radius: $buttons-br;
  align-self: center;

  &:hover {
    background-color: $standard-btn-hovered;
  }

  &:focus {
    padding: 6px;
    border: $buttons-border solid $standard-btn-border;
  }
}

.btnIcon {
}

.btnLink {
  display: block;
  height: 12px;
}

.runBuildBtn {
  padding: 5px 9px 5px 10px;
  margin-right: 8px;
  border-radius: $buttons-br;

  &:hover {
    background-color: $standard-btn-hovered;
  }

  &:focus {
    padding: 7px 7px 7px 8px;
    border: $buttons-border solid $standard-btn-border;
  }

  @media (min-width: $min-desktop-width) {
    & {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.runBtnIcon {
  display: block;

  @media (min-width: $min-desktop-width) {
    & {
      margin-right: 6px;
    }
  }
}

.runBtnText {
  display: none;

  @media (min-width: $min-desktop-width) {
    & {
      display: block;
    }
  }
}
