@import 'src/variables';

.modalWindowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalWindow {
  align-self: center;
  max-width: 485px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: $form-fields-br;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);

  @media (min-width: $min-desktop-width) {
    & {
      width: 485px;
    }
  }
}

.modalHeader {
  font-size: $main-header-mobile-fs;
  margin-bottom: 12px;
}

.modalText {
  font-size: $base-text-fs;
  margin-bottom: 12px;
}

.modalBtn {
  height: 36px;

  &:last-child {
    margin-left: 10px;
  }
}
