@import '../../../variables';

.formField {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px;
}

.label {
  margin-bottom: 6px;
}

.requiredIcon {
  color: $form-field-required-sign;
}

.input {
  font-family: "YS Text", sans-serif;
  font-size: $base-text-fs;
  height: 34px;
  border: $buttons-border solid $form-field-border-color;
  border-radius: $form-fields-br;
  padding: 0 30px 0 13px;
}

.input:focus {
  outline-color: $form-field-border-focused-color;
}

.input::-webkit-input-placeholder{
  color: $form-field-border-color;
}


.input:placeholder-shown + .resetBtn {
  opacity: 0;
  pointer-events: none;
}

.resetBtn {
  position: absolute;
  display: block;
  padding: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  top: 32px;
  bottom: 0;
  right: 5px;
  background-color: transparent;
}

@media (min-width: $min-desktop-width) {
  .formField {
    max-width: 474px;
  }
}