@import '../../../variables';

.formField {
  margin-bottom: 18px;

  @media (min-width: $min-desktop-width) {
    & {
      max-width: 474px;
    }
  }

}

.label {
  display: block;
  margin-bottom: 6px;
}

.requiredIcon {
  color: $form-field-required-sign;
}

.inputWrapper {
  position: relative;
}

.input {
  font-family: "YS Text", sans-serif;
  font-size: $base-text-fs;
  height: 36px;
  border: $buttons-border solid $form-field-border-color;
  border-radius: $form-fields-br;
  padding: 0 36px 0 13px;
  width: 100%;

  &:focus {
    outline-color: $form-field-border-focused-color;
  }

  &::-webkit-input-placeholder {
    color: $form-field-border-color;
  }

  &:placeholder-shown + .resetBtn {
    opacity: 0;
    pointer-events: none;
  }
}

.resetBtn {
  position: absolute;
  display: block;
  padding: 0;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 10px;
  bottom: 0;
  background-color: transparent;
}
