@import '../../../../variables';

.header {
  padding: 13px $mobile-block-padding 13px $mobile-block-padding;
}

.header__text {
  font-weight: 500;
  padding: 2px;
  font-size: $main-header-mobile-fs;
  color: $submain-text-color;
  line-height: 22px;
  letter-spacing: 0.25px;
}