@import 'src/variables';

.content {
  min-height: calc(100vh - 128px);
  padding-left: $mobile-block-padding;
  padding-right: $mobile-block-padding;
  margin-top: 8px;

  @media (min-width: $min-desktop-width) {
    & {
      min-height: calc(100vh - 90px);
      padding-left: $desktop-block-padding;
      padding-right: $desktop-block-padding;
    }
  }
}

.showMoreBtn {
  height: 28px;
  padding-left: 13px;
  padding-right: 13px;
  margin-bottom: 20px;
}

