@import 'src/variables';

.card {
  border: 1px solid $form-field-border-color;
  border-radius: 6px;
  padding: 16px 7px 16px 13px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
}

.card:hover {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

.msgContainer {
  margin-bottom: 8px;
}

.commitState {
  height: 16px;
}

.message {
  font-size: $subheader-fs;
  padding-left: 23px;
}

.commitInfoContainer {
  display: flex;
  flex-direction: column;
  font-size: $base-text-fs;
  line-height: 16px;
  margin-left: 23px;
  border-bottom: 1px solid $form-field-border-color;
}

.commitInfo {
  margin-bottom: 8px;
}

.commitAuthor {
  margin-bottom: 9px;
}

.dateContainer {
  display: flex;
  font-size: $base-text-fs;
  line-height: 16px;
  margin-top: 8px;
  margin-left: 23px;
}

.date {}

.timer {
  margin-left: 10px;
}

@media (min-width: $min-desktop-width) {
  .card {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 12px 24px;
  }

  .msgContainer {
    display: flex;
    height: 20px;
  }

  .commitState {
    height: 20px;
  }

  .message {
    padding-left: 10px;
    line-height: 16px;
  }

  .commitInfoContainer {
    flex-direction: row;
    border-bottom: none;
    margin-left: 31px;
    height: 18px;
    line-height: 18px;
  }
  .commitInfo {
    margin: 0;
  }

  .commitAuthor {
    margin: 0 0 0 10px;
  }

  .dateContainer {
    flex-direction: column;
    margin: 0;
  }

  .date {
    margin-bottom: 12px;
  }

  .timer {
    margin-left: 0;
  }
}