@import 'src/variables';

.card {
  border: 1px solid $form-field-border-color;
  border-radius: 6px;
  padding: 16px 7px 16px 13px;
  margin-bottom: 8px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  @media (min-width: $min-desktop-width) {
    & {
      display: flex;
      justify-content: space-between;
      padding: 12px 24px 12px 24px;
    }
  }
}

.msgContainer {
  margin-bottom: 8px;

  @media (min-width: $min-desktop-width) {
    & {
      display: flex;
      height: 20px;
    }
  }
}

.commitState {
  height: 16px;

  @media (min-width: $min-desktop-width) {
    & {
      height: 20px;
    }
  }
}

.message {
  font-size: $subheader-fs;
  padding-left: 23px;

  @media (min-width: $min-desktop-width) {
    & {
      padding-left: 10px;
      line-height: 16px;
    }
  }
}

.commitInfoContainer {
  display: flex;
  flex-direction: column;
  font-size: $base-text-fs;
  line-height: 16px;
  margin-left: 23px;
  border-bottom: 1px solid $form-field-border-color;

  @media (min-width: $min-desktop-width) {
    & {
      flex-direction: row;
      border-bottom: none;
      margin-left: 31px;
      height: 18px;
      line-height: 18px;
    }
  }
}

.commitInfo {
  margin-bottom: 8px;

  @media (min-width: $min-desktop-width) {
    & {
      margin: 0;
    }
  }
}

.commitAuthor {
  margin-bottom: 9px;

  @media (min-width: $min-desktop-width) {
    & {
      margin: 0 0 0 10px;
    }
  }
}

.dateContainer {
  display: flex;
  font-size: $base-text-fs;
  line-height: 16px;
  margin-top: 8px;
  margin-left: 23px;

  @media (min-width: $min-desktop-width) {
    & {
      flex-direction: column;
      margin: 0;
    }
  }
}

.date {
  @media (min-width: $min-desktop-width) {
    & {
      margin-bottom: 12px;
    }
  }
}

.timer {
  margin-left: 10px;

  @media (min-width: $min-desktop-width) {
    & {
      margin-left: 0;
    }
  }
}
