@import 'src/variables';

.content {
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  padding-left: $mobile-block-padding;
  padding-right: $mobile-block-padding;
  margin-bottom: 20px;
}

.text {
  margin-bottom: 14px;
}

.textHeader {
  font-size: $subheader-fs;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.textParagraph {
  font-size: $base-text-fs;
  color: $submain-text-color;
  line-height: 18px;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  font-size: $base-text-fs;
}




.fieldWithText {
  display: flex;
  margin-bottom: 20px;
}

.fieldText {
  align-self: center;
}

.fieldInput::-webkit-outer-spin-button,
.fieldInput::-webkit-inner-spin-button {
  display: none;
}

.fieldInput {
  box-sizing: border-box;
  width: 52px;
  height: 36px;
  margin-right: 8px;
  margin-left: 8px;
  padding-left: 20px;
  border: $buttons-border solid $form-field-border-color;
  border-radius: $form-fields-br;
}

.fieldInput:focus {
  outline-color: $form-field-border-focused-color;
}

.btn {
  margin-bottom: 12px;
}