@import 'src/variables';

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px $mobile-block-padding 12px $mobile-block-padding;

  @media (min-width: $min-desktop-width) {
    & {
      padding: 10px $desktop-block-padding 10px $desktop-block-padding;
    }
  }
}

.text {
  font-weight: 500;
  padding: 2px;
  font-size: $main-header-mobile-fs;
  color: $submain-text-color;
  line-height: 22px;
  letter-spacing: 0.25px;

  @media (min-width: $min-desktop-width) {
    & {
      font-size: $main-header-desktop-fs;
      line-height: 28px;
    }
  }
}
