@import '../../../../variables';

.pageHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px $mobile-block-padding 12px $mobile-block-padding;
}

.text {
  font-weight: 500;
  padding: 2px;
  font-size: $main-header-mobile-fs;
  color: $submain-text-color;
  line-height: 22px;
  letter-spacing: 0.25px;
}

.settingsBtn {
  padding: 8px;
  border-radius: $buttons-br;
  align-self: center;
}

.settingsBtn:hover {
  background-color: $standard-btn-hovered;
}

.settingsBtn:focus {
  padding: 6px;
  border: $buttons-border solid $standard-btn-border;
}

.btnText {
  display: none;
}

.btnIcon {}

.btnLink {
  display: block;
  height: 12px;
}

@media (min-width: $min-desktop-width) {
  .pageHeader {
    padding: 10px $desktop-block-padding 10px $desktop-block-padding;
  }

  .text {
    font-size: $main-header-desktop-fs;
    line-height: 28px;
  }

  .settingsBtn {
    padding: 8px 13px 8px 8px;
  }

  .btnLink {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .btnText {
    display: block;
    margin-top: 1px;
  }

  .btnIcon {
    margin-right: 5px;
  }
}