@import 'src/variables';

.pageFooter {
  padding: 12px $mobile-block-padding 12px $mobile-block-padding;
  background-color: $footer-bg-color;
  color: $submain-text-color;
  font-size: $footer-text-fs;

  @media (min-width: $min-desktop-width) {
    & {
      display: flex;
      justify-content: space-between;
      padding: 8px $desktop-block-padding 8px $desktop-block-padding;
    }
  }
}

.linkList {
  display: flex;
  margin-bottom: 8px;

  @media (min-width: $min-desktop-width) {
    & {
      margin-bottom: 0;
    }
  }
}

.listLink {
  line-height: 18px;
  letter-spacing: 0.06px;
  margin-right: 12px;
}

.anchor {
  color: $submain-text-color;

  &:hover {
    color: $hovered-link-color;
  }
}

.textCopyright {
  line-height: 18px;
}
