@import 'src/variables';

.content {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $mobile-block-padding;
  padding-right: $mobile-block-padding;
}

.backgroundImage {
  width: 128px;
  height: 128px;
  align-self: center;
  margin-bottom: 32px;
}

.textA {
  font-size: $base-text-fs;
  text-align: center;
  line-height: 16.25px;
  margin-bottom: 24px;
}

.btn {
  width: 123px;
  height: 36px;
  background-color: $accent-btn;
  border-radius: $buttons-br;
  align-self: center;
}