//background colors
$main-bg-color: #FFFFFF;
$footer-bg-color: #F0F2F3;

//button colors
$standard-btn: #E6E6E6;
$standard-btn-hovered: #DBDBDB;
$standard-btn-border: #B3B3B3;
$accent-btn: #FFCC00;
$accent-btn-hovered: #F2C200;
$accent-btn-border: #B38F00;
$disabled-btn: #F2F2F2;

//form colors
$form-cross-color: #CCCCCC;
$form-field-border-color: #D9D9D9;
$form-field-required-sign: #FF3333;

//text colors
$main-text-color: #000000;
$submain-text-color: #7F8285;
$ok-decor-color: #00B341;
$err-decor-color: #FF3333;
$in-process-decor-color: #FF9A00;
$disabled-text-color: #7F7F7F;
$hovered-link-color: #E00000;

//breakpoints
$min-desktop-width: 1024px;

//font-sizes
$main-header-desktop-fs: 24px;
$main-header-mobile-fs: 18px;
$footer-text-fs: 13px;
$btn-text-fs: 13px;
$base-text-fs: 13px;

//margins
$mobile-block-margin: 16px;
$desktop-block-margin: 100px;

//paddings
$mobile-block-padding: 16px;
$desktop-block-padding: 100px;

//border & border-radius
$buttons-br: 4px;
$buttons-border: 2px;
