@import 'variables';
@import 'fonts';


html, body {
  height: 100%;
}

#root {
  min-height: 100%;
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: 0;
}

button {
  border: 0;
  font-family: "YS Text", sans-serif;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: $main-bg-color;
  font-family: "YS Text", sans-serif;
  box-sizing: border-box;
}
